 <div class="education-container container-block">
<h2 class="container-block-title">Involvement</h2>
<div class="item">
    <h4 class="degree">Director of Finances</h4>
    <h5 class="meta">Seattle University Triangle Club</h5>
    <div class="time">2016 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Member</h4>
    <h5 class="meta">Seattle University Gender Justice Alliance</h5>
    <div class="time">2017 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Guitar Student</h4>
    <h5 class="meta">Wow! Music Studios</h5>
    <div class="time">2005 - 2015</div>
</div><!--//item-->
</div><!--//education-container-->
