<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">HPC Cluster Engineer Academy</h3>
                            <div class="time">June - Aug 2017</div>
                        </div><!--//upper-row-->
			<div class="company">Lawrence Livermore National Lab, Livermore, CA</div>
                    </div><!--//meta-->
                    <div class="details">
			    <p><ul>
			        <li>Research and implemented the Elastic Stack product portfolio on a cluster with a group of peers.</li>
				<li>Built and troubleshooted a computer cluster from scratch as part of a team.</li>
				<li>Acquired hands on experience with topics and technologies critical to HPC.</li>
			    </ul></p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Helpdesk Technician</h3>
                            <div class="time">Feb 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Seattle University School of Law, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p><ul>
				 <li>Assisted customers in troubleshooting Seattle U systems as well as personal device issues both in person and over the phone.</li>
				<li>Instructed customers on how to use Seattle U technologies in an amicable manner.</li>
				<li>Provided friendly customer service by answering customer inquiries.</li>
			    </ul></p>  

		    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coding Teaching Coach</h3>
                            <div class="time">Aug 2014 - June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">MVGate, Mill Valley, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul>
				 <li>Promoted sytdents' self-confidence by supporting them on individual projects and through group presentations.</li>
				<li>Taught problem solving and teamwork skills by guiding students trhough coding projects.</li>
				<li>Assisted teachers by coaching 3 classes a week of children ages 5-10.</li>
			    </ul></p> 
		    </div><!--//details-->
                </div><!--//item-->
              
               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Girls Who Code Participant</h3>
                            <div class="time">July - Aug 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Square, San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p><ul>
				 <li>Developed a passion for technology by attending workshops, visiting tech companies, and speaking with professionals.</li>
				<li>Acquired 1 semester of computer science ducation through lessons and activities totalling 280 hours over 7 weeks.</li>
				<li>Improved entrepreneurial skills by pitching final project to an audience of 50 people.</li>
			    </ul></p> 
		    </div><!--//details-->
                </div><!--//item-->


            </section><!--//section-->
