<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Seattle University</h3>
                            <div class="time">Graduating June 2019<br style="font-size=10px">GPA 3.9/4.0</br></div>
			    <h3 class="job-title">BSc in Computer Science</h3>
                        </div><!--//upper-row-->
			<div class="company">Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p><ul>      
			      <li><b>Member,</b> Dean's List all completed quarters</li>
			      <li><b>Member and Recipient,</b> Core Honors Program &amp; Scholarship</li>
			      <li><b>Recipient,</b> Trustee's Scholarship</li>
                      </p></ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
