<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
		</div>-->
		
		<div class="item">
			<span class="project-title">
				<a href="https://github.com/astroanna/DogOnDemand" target="_blank">Dog On Demand</a>
			</span>
			-
			<span class="project-tagline">
				Like dogs? Like photos of them? This Chrome extension will serve up a random photo of a dog (breed can be specified) for your viewing pleasure.
			</span>
		</div><!--item-->

                <div class="item">
			<span class="project-title"><a href="{{site.baseurl}}/assets/HPC_final_presentation.pdf" target="_blank">Elastic Stack Installation and Configuration</a></span> - <span class="project-tagline">A presentation on Elastic Stack, the log search and visualization software stack, including examples of its' useful log visualization features. Completed during my 2017 summer internship at Lawrence Livermore National Lab.</span>
                    
                </div><!--//item-->

		<div class="item">
                    <span class="project-title"><a href="http://scratch.mit.edu/projects/53707198/" target="_blank">Punishment</a></span> - <span class="project-tagline">A visual essay on the novel "When She Woke" by Hillary Jordan. Written in Scratch to practice for my Scratch teaching job.</span>
                    
		</div><!--//item-->
	</section><!--//section-->
