<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://scratch.mit.edu/projects/53707198/">Punishment</a></span> - <span class="project-tagline">A visual essay on the novel "When She Woke" by Hillary Jordan. Written in Scratch to practice for my Scratch teaching job.</span>
                    
                </div><!--//item-->
            </section><!--//section-->
